<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    
    <div class="col-lg-6 mx-auto my-5" [ngSwitch]="Gamedata.appStatus">
      <h3 class="text-center">{{title}}</h3>
      <div class="card shadow-md bg-light">
        <app-inputform 
          *ngSwitchCase="1"  
          (inputEvent)="receiveInput($event)" 
          ></app-inputform>

        <app-gamewarapper 
          *ngSwitchCase="2" 
          [data]="Gamedata" 
          (resultEvent)="receiveResults($event)"
          ></app-gamewarapper>

        <app-scores 
          *ngSwitchCase="3" 
          [data]="Gamedata" 
          (scoresEvent)="receiveScoresEvent($event)"
          ></app-scores>
      </div>
    </div>
  </div>
</div>


